body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-size-adjust: 100px;
    margin-top:45px;
    max-width: 1200px;
    margin:0 auto;
    padding: 15px;
    background-color:#94d2f8 ;
}
header{
    display:flex;
    flex-direction: row;
   
}
#title{
    flex-direction: column;
    line-height: 10px;
}
h1{
    color: darkblue;
    font-size: 56px;
}
h2{
    font-size:32px;
}
p{
    font-size: 20px;
}
form{
    display:flex;
    flex-direction: column;
    margin-left: 390px;
}
input{
    margin-top: 20px;
    padding: 12px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 15px;
}
input:hover{
    border:3px solid black;
    transition: 0.3s;
    font-weight: bold;
}
.form_row{
    display: flex;
    justify-content: space-between;
    margin-left: -400px;
}
.form_row input{
    width: 48%;
}
#nome{
    width:150%;
    
}
form [type="password"]{
    width: 50%;
}
form [type="submit"]{
    background-color: darkblue;
    color:whitesmoke;
    height: 50px;
    width:50%;
    font-weight: bold;
}
form [type="submit"]:hover{
    background-color: rgb(2, 2, 93);
    transition:0.3s;
}

